:root {
  --gradient: linear-gradient(
    45deg,
    #2748db,
    #1b7be9,
    #3b80e2,
    #7150e5,
    #235beb,
    #71a2e6
  );
}

.gradient-animation {
  background-size: 600%;
  background-image: var(--gradient);
  animation: bg-animation 20s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}
